.header{
    background: white;
    padding: 1rem;
    margin-bottom:2rem;
    filter: drop-shadow(0px 1px 2px rgb(150, 150, 150));
    color: #0d6efd;
    font-size: 1.3rem;
    font-weight: 500;
}

.employee-width,
.global-width{
    max-width: 700px;
    padding: 0 2rem 2rem;
    background: white;
    filter: drop-shadow(0px 1px 2px rgb(150, 150, 150));
    border-radius: 5px;
   
}

.employee-width{
    max-width: 1200px;
}

label{
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 1rem;
}

#root{
    background: rgb(235, 235, 235);
    padding-bottom: 3rem;
}